.products{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product{
    display: flex;
    gap: 20px
}

.product__image{
    width: 200px;
}

.product__name{
    font-size: 20px;
    font-weight: 700;
}
