.products{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product{
    display: flex;
    gap: 20px
}

.product__image{
    width: 200px;
}

.product__name{
    font-size: 20px;
    font-weight: 700;
}

.product__actions{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.category{
    font-size: 20px;
}

.return-back-link{
    color: blue;
    display: flex;
    gap: 5px;
}

.filter-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1000px;
}

.filter-form__actions{
    display: flex;
    gap: 10px;
}
